p3{
    position: relative;
    top: 50%; 
}
a {
    text-align: justify;
    text-indent: 30px;
    font-family: Serif;
    font-size: 14px;
    color: #A52A2A;
    }
.main{
    background: black;  
    height: 200px;
    margin-bottom: 10px;
    color: darkviolet;
    border-radius: 20px;    
    text-align: center;
}
.main_block{
    background: rgb(211, 211, 211);  
    align-items: center;  
    height: 200px;
    width: 50%;    
    float: left;
    border-radius: 20px;    
    text-align: right;
}
.card{
    background: white;
    height: 400px;
    width: 250px;
    margin: 20px;
    border: 5px solid black;
    border-radius: 20px; 
    text-align: center;
}