.p3_style{
    padding-top: 200px;
     
}
a {
    text-align: justify;
    text-indent: 30px;
    font-family: Serif;
    font-size: 14px;
    color: #A52A2A;
    }
.main{
    background: black;  
    height: 200px;
    margin-bottom: 10px;
    color: darkviolet;
    border-radius: 20px;    
    text-align: center;
}
.main_block{
    background: rgb(211, 211, 211);  
    align-items: center;  
    height: 200px;
    width: 50%;    
    float: left;
    border-radius: 20px;    
    text-align: right;
}
.card{
    
    background: white;
    max-height: 400px;
    
    width: 250px;
    margin: 20px;
    border: 5px solid black;
    border-radius: 20px; 
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.cards{
    
    background: white;
    height: 390px;
    float: left;
    width: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border: 5px solid black;
    border-radius: 20px; 
    text-align: center;
    
    margin-left: 5px;


    
}
#cont{
    height: 400px;
}
.text{
    padding-top: 100px;
    padding-bottom: 100px;

    
    padding-top: 0px;
    height: 100px;
    padding-bottom: 0px;
    margin-top: 150px;
    line-height: 100px;

}
#myButton {
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px 20px; /* Внутренний отступ кнопки */
    font-size: 16px; /* Размер шрифта кнопки */
    border: none; /* Убираем границу кнопки */
    cursor: pointer; /* Задаем курсор при наведении на кнопку */
    border-radius: 4px; /* Задаем скругленные углы кнопки */
  }
  
  #myButton:hover {
    background-color: #45a049; /* Изменяем цвет фона при наведении на кнопку */
  }
  